@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    font-family: 'Bebas Neue', cursive;
    font-size: 16px;
    color: #3E3E3E;
    margin: 0;
    padding: 0;
}

body {
    background-color: #E5E5E5;;
}

/* header style */

.bg-header {
    background-color: #FFFBF0;
    max-height: 100%;
}

/* navbar style */
#navbarTogglerDemo02 .nav-item a {
    font-size: 1.3rem;
}

/* banner style */

.banner-text h1 span{
    font-size: 6rem;
}

.font-orange {
    color: #FABE4C;
}

.font-navy {
    color: #3f4162;
}

.btn-buy {
    color: #FFF;
    background-color: #AEC459;
    font-size: 1.1rem;
    border-radius: 10px;
}


/* women section style */

.women-section h2, .card-title {
    color: #363958;
}

main .money-color {
    color: #FABE4C;
}

main .custom-rounded {
    border-radius: 15px;
}

/* about section */

main .about a {
    text-decoration: none;
    color: #3E3E3E;
} 

main .about h5 a {
    color: #3f4162;
}

/* media query for 
mid range device like tablet */


@media only screen and (max-width: 768px){
  
    .banner-text h1 span {
        font-size: 4rem;
    }
}
